.footer {
	padding-top: 60px;
	padding-bottom: 60px;

		&__row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__menu{
			margin-left: 26px;
			margin-right: auto;
		}
}
.menu {

		&__list {
			display: flex;
		}
		&__list li{
			margin-right: 15px;
		}
		&__list li:last-child{
			margin: 0;
		}
		&__link {
			font-size: 18px;
			line-height: 21px;
			color: #595959;
		}
}
.social {
	display: flex;
	align-items:center;
}
.social-link {
	margin-right: 21px;
}
.social-link:last-child{
	margin-right: 0;
}

