@import 'fonts.scss';
@import 'null.scss';
@import 'variable.scss';
@import 'header.scss';
@import 'blocks/promo.scss';


/* ----------------------- */
body{
	padding-top: 44px;
	font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
.container{
	max-width: 1200px;
	margin: 0px auto;
}