.page-promo {
	&__inner{
		border-radius: 10px;
		padding: 68px 0px 68px 70px;
		background: url('../../img/sushi.png') no-repeat top -139px right -91px/587px;
		background-color: $promoBgc;
	}

	&__title {
		font-weight: bold;
		font-size: 39px;
		color: $promoColor;
		margin-bottom: 15px;
		line-height: 46px;
	}

	&__text {
		font-size: 24px;
		color: $promoColor;
		max-width: 510px;
		line-height: 28px;
	}
}

